<!DOCTYPE html>
<html>
<head>
    <title>Podcast Summarizer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .navbar{
            background-color: #1d6e8e;
        }
        
    </style>
</head>
<body style="background-color:rgb(29, 26, 77); background-size: cover;">
        <nav  style="background-color: #1d6e8e;"  class="navbar navbar-expand-lg custom-navbar">
        <div class="container">
            <a style="color: white;" class="navbar-brand" href="/">Podcast Summarizer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a style="color: white;" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: white;" class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1  style="color: white;" class="mt-4">Welcome to Podcast Summarizer</h1>
        <p  style="color: white;">Please log in as a User or Admin, or register if you're new.</p>
        <a href="/login" class="btn btn-primary"  style="color: white;">Login</a>
        <a href="/register" class="btn btn-success"  style="color: white;">Register</a>
    </div>
</body>
</html>
